<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Friendships | NakamaPower</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" th:href="@{/css/main.css}">
        <link rel="icon" type="image/png" th:href="@{/img/favicon.png}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    </head>
    <body>
        <header>
            <nav class="nav">
                <a href="/" class="logo nav-link">NakamaPower</a>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="/" class="nav-menu-link">Home</a></li>
                    <li class="nav-menu-item"><a href="/friendships/create" class="nav-menu-link">Add a friend</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link" id="logoutButton"><span class="glyphicon glyphicon-log-in"></span> Log out</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <h1 class="text-center">Your friends</h1>
            <div>
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Last log</th>
                            <th>Country</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="output">
                        <tr th:if="${currentUser.id == friendship.idUser.id} or ${currentUser.id == friendship.idFriend.id}" th:each="friendship : ${friendships}">
                            <!-- Username -->
                            <td>
                                <span th:if="${currentUser.id == friendship.idUser.id}" th:text="${friendship.idFriend.user}"></span>
                                <span th:unless="${currentUser.id == friendship.idUser.id}" th:text="${friendship.idUser.user}"></span>
                            </td>
                            <!-- Email -->
                            <td>
                                <span th:if="${currentUser.id == friendship.idUser.id}" th:text="${friendship.idFriend.email}"></span>
                                <span th:unless="${currentUser.id == friendship.idUser.id}" th:text="${friendship.idUser.email}"></span>
                            </td>
                            <!-- Last log -->
                            <td>
                                <span th:if="${currentUser.id == friendship.idUser.id && friendship.idFriend.lastLog != null}"
                                    th:text="${friendship.idFriend.lastLog}"></span>
                                <span th:if="${currentUser.id == friendship.idFriend.id && friendship.idUser.lastLog != null}"
                                    th:text="${friendship.idUser.lastLog}"></span>
                                <span th:unless="${(currentUser.id == friendship.idUser.id && friendship.idFriend.lastLog != null) ||
                                                  (currentUser.id == friendship.idFriend.id && friendship.idUser.lastLog != null)}">Never</span>
                            </td>
                            <!-- Country -->
                            <td>
                                <span th:if="${currentUser.id == friendship.idUser.id}" th:text="${friendship.idFriend.idCountry.country}"></span>
                                <span th:unless="${currentUser.id == friendship.idUser.id}" th:text="${friendship.idUser.idCountry.country}"></span>
                            </td>
                            <!-- Actions -->
                            <td>
                                <a th:href="@{/friendships/chat/{id}(id=${friendship.id})}" class="btn btn-info">Chat</a>
                                <a th:href="@{/friendships/delete/{id}(id=${friendship.id})}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>

        <script>
            $(document).ready(function() {
                $('#logoutButton').click(function() {
                    $.ajax({
                        url: '/logout-process',
                        type: 'POST',
                        complete: function(response) {
                            // console.log(response.responseJSON);
                            if (response.responseJSON == true) {
                                alert("Ups! Something weird is happening and you can't log out...")
                            }
                            if (response.responseJSON == false) {
                                window.location.href = '/';
                            }
                        }
                    });
                });
            });
        </script>
    </body>
</html>
